.cache
.ssh
.vscode-server
.profile
.wget-hsts
.sudo_as_admin_successful
.bash_logout
.bash_history
.bashrc
.python_history
airflow/app/dags/__pycache__/
airflow/app/logs/
airflow/app/raw_files/2022-01-06 15*
