.cache
.ssh
.vscode-server
.profile
.wget-hsts
.sudo_as_admin_successful
.bash_logout
.bash_history
.bashrc
.python_history
airflow/app/.gitignore copy
airflow/app/dags/__pycache__/
airflow/app/logs/dag_processor_manager/dag_processor_manager.log
airflow/app/logs/scheduler/
airflow/app/logs/EvaluationAirflow1


